<footer>
    <div class="footer-container">
        <div>Contact us:</div>
        <div class="social-media">
            <i class="fa-regular fa-envelope"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-telegram"></i>
        </div>
    </div>
</footer>