<footer>
    <div class="footer-container">
        <div>Contact us:</div>
        <div class="social-media">
            <a href="mailto:am47mk30@gmail.com"><i class="fa-regular fa-envelope"></i></a>
            <a href="https://wa.me/918862985513"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/alphakind47"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://t.me/hanumanbhakt47"><i class="fa-brands fa-telegram"></i></a>
        </div>
    </div>
</footer>