<nav>


    <div class="side-nav-container">
        <div class="side-nav-icons">
            <a href="/">
                <img class="logo" src="/Images/logo.png" alt="logo">
            </a>
            <div><i class="fa-solid fa-xmark"></i></div>
        </div>
        <div class="side-nav-options">
            <a class="side-nav-links" href="/">Home</a>
            <a class="side-nav-links" href="/all-notes">All Notes</a>
            <a class="side-nav-links" href="/semester">Semester Wise Notes</a>
            <!-- <a href="/upload-file"><span>Upload Notes</span></a> -->
        </div>
    </div>


    <div class="nav-container">
        <div>
            <a href="/">
                <img class="logo" src="/Images/logo.png" alt="logo">
            </a>
        </div>
        <div class="nav-options">
            <a href="/"><span>Home</span></a>
            <a href="/all-notes"><span>All Notes</span></a>
            <a href="/semester"><span>Semester Wise Notes</span></a>
            <!-- <a href="/upload-file"><span>Upload Notes</span></a> -->
        </div>
        <i class="fa-solid fa-bars"></i>
    </div>

</nav>