<%layout("/layouts/boilerplate") %>

    <body>
        <div class="card-container">
            <% for (let notes of allNotes) { %>
            <div class="card">
                <div class="notes-title">
                    <%= notes.title %>
                </div>
                <div class="notes-btn">
                    <a href="<%= notes.pdfURL %>" target="_blank">Open Notes</a><br>
                </div>
            </div>
            <% } %>
        </div>
        
    </body>


    <!-- <div className='container'>
        {notes && notes.length > 0 ? (
          notes.map((note) => (
            <NoteItem key={note._id} note={note} />
          ))
        ) : (
          <p>No Notes Found</p>
        )}
      </div> -->