<%layout("/layouts/boilerplate") %>

    <body>
        <div class="banner">
            <div class="overlay"></div>
            <div class="bannerText">
                <div class="welcome">Welcome To AlphaKind</div>
                <div class="description">A dedicated Nursing Notes Website For Students</div>
            </div>
        </div>
        <div class="webInfo">
            <div class="infoBox">
                <div class="heading">
                    About US
                </div>
                <div class="text">
                    <i class="fa-solid fa-quote-left"></i>
                    Welcome to <strong>AlphaKind</strong>, a dedicated platform created to make quality nursing notes
                    easily accessible
                    for students, educators, and healthcare professionals. In today’s academic world, finding reliable,
                    semester-wise notes is tough. AlphaKind bridges this gap by offering organized, authentic resources
                    for nursing students and learners.
                    <br><br>
                    We believe education should be accessible to everyone. Whether you’re preparing for exams, brushing
                    up on topics, or sharing notes, AlphaKind is your helpful digital companion.
                </div>
            </div>
            <div class="infoBox">
                <div class="heading">
                    Our Purpose
                </div>
                <div class="text">
                    <i class="fa-solid fa-quote-left"></i>
                    The core aim of <strong>AlphaKind</strong> is to simplify note-sharing while ensuring quality and accuracy. As
                    nursing students, we faced difficulty finding organized, semester-specific notes. This inspired us
                    to build a platform where students can easily access, open, and download notes sorted by semester
                    and subject.
                    <br><br>
                    We aim to build a simple, free, and collaborative environment where knowledge is shared ethically
                    and every feature enhances your learning experience.
                </div>
            </div>
        </div>
    </body>