<%layout("/layouts/boilerplate") %>

    <body>
        <div class="sem-container">
            <h1>Select Your Semester:</h1>
        <div class="sem">
            <a class="sem-box" href="/subjects?id=1st">1st Semester</a><br>
            <a class="sem-box" href="/subjects?id=2nd">2nd Semester</a><br>
            <a class="sem-box" href="/subjects?id=3rd">3rd Semester</a><br>
            <a class="sem-box" href="/subjects?id=4th">4th Semester</a><br>
            <a class="sem-box" href="/subjects?id=5th">5th Semester</a><br>
            <a class="sem-box" href="/subjects?id=6th">6th Semester</a><br>
            <a class="sem-box" href="/subjects?id=7th">7th Semester</a><br>
            <a class="sem-box" href="/subjects?id=8th">8th Semester</a><br>
        </div>

        </div>
        
    </body>