<%layout("/layouts/boilerplate") %>

    <body>
        <div class="sem-container">
            <h1>Select Your Semester:</h1>
        <div class="sem">
            <a class="sem-box" href="/subjects?id=1">1st Semester</a><br>
            <a class="sem-box" href="/subjects?id=2">2nd Semester</a><br>
            <a class="sem-box" href="/subjects?id=3">3rd Semester</a><br>
            <a class="sem-box" href="/subjects?id=4">4th Semester</a><br>
            <a class="sem-box" href="/subjects?id=5">5th Semester</a><br>
            <a class="sem-box" href="/subjects?id=6">6th Semester</a><br>
            <a class="sem-box" href="/subjects?id=7">7th Semester</a><br>
            <a class="sem-box" href="/subjects?id=8">8th Semester</a><br>
        </div>

        </div>
        
    </body>