<%layout("/layouts/boilerplate") %>

<body>
    <form action="/upload-file", method="POST", enctype="multipart/form-data">
        <input type="file" name="pdf" id="pdf">
        <button>Upload</button>
    </form>
</body>