<%layout("/layouts/boilerplate") %>

<body>
    <form class="uploadForm" method="POST" action="/upload">
        <table>
            <tr class="semSelect">
                <td><label for="listing[semester]">Select Your Semester:</label></td>
                <td>
                    <select class="sems" name="listing[semester]" id="semester" required>
                        <option value="0">Select Semester</option>
                        <option value="1">1st</option>
                        <option value="2">2nd</option>
                        <option value="3">3rd</option>
                        <option value="4">4th</option>
                        <option value="5">5th</option>
                        <option value="6">6th</option>
                        <option value="7">7th</option>
                        <option value="8">8th</option>
                    </select>
                </td>
            </tr>
            <div class="allInputs">
                <tr class="inputContainer">
                    <td><label for="subject">Enter Subject Name: </label></td>
                    <td><input class="uploadInputs" type="text" name="listing[subject]" placeholder="Subject Name" required></td>
                </tr>
                <tr class="inputContainer">
                    <td><label for="chapterName">Enter Chapter Name: </label></td>
                    <td><input class="uploadInputs" type="text" name ="listing[title]" id="chapterName" placeholder="Chapter Name" required></td>
                </tr>
                <tr class="inputContainer">
                    <td><label for="pdfURL">PDF URL: </label></td>
                    <td><input class="uploadInputs" type="text" name="listing[pdfURL]" id="pdfURL" placeholder="Enter pdf URL" required></td>
                </tr>
            </div>
        </table>
        <button class="uploadButton">Submit</button>
    </form>
</body>